@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

#hidden-content {
    text-align: left;
}

#play-button {
    font-size: 24spx;
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    animation: fade-in 2s ease-in-out forwards;
}

#play-button:hover {
    background-color: #000000;
}

#hidden-text {
    font-family: 'open sans', 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    font-style: italic;
    display: none;
    color: white;
    font-size: 18px;
    max-width: 1300px;
    animation: fade-in 2s ease-in-out forwards;
}
#hidden-text::selection {
  color: #000000;       /* text color when selected */
  background-color: #ffffff; /* bg color when selected */
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}